/* We can add fonts and stuff up here using @import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Authors
*  Eliza Gurney
*  Maeve Kelly
   Ben Waghorn */

/* COLOUR PALETTE
*  #0E0B16
*  #A239CA
*  #4717F6
   #E7DFDD
   #979797 */
body {
    background-color: #0E0B16;
    color: rgb(231, 221, 253);
    font-family: Roboto;
}

.light-mode {
    background-color: rgb(231, 221, 253);
    color: #0E0B16;
}

.current {
    color: rgb(231, 165, 164);
}

header {
    display: block;
    margin: auto;
    width: 40%;
    text-align: center;
    align-items: center;    
}

header nav a:hover {
    text-decoration: underline;
}

h1 {
    text-decoration: underline;
}

h2 {
    color: rgb(231, 221, 253);
    background-color: rgb(162, 57, 202);
    border-radius: 10px;
    text-decoration: none;
    margin-left: auto;
    padding-left: 5px;
}

nav {
    display: block;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 10px;
    background-color: rgb(162, 57, 202);
    border-radius: 10px;
    font-weight: 700;
    color: rgb(231, 221, 253);
    text-align: center;
    margin: auto;
    width: 350px;
}

nav a {
    text-decoration: none;
    margin: 5px;
    color: rgb(231, 221, 253);
}

form {
    margin: auto;
    text-align: center;
    width: 250px;
    margin-top: 20px;
}

footer {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(162, 57, 202);
    border-radius: 10px;
    font-weight: 700;
    color: rgb(231, 221, 253);
    text-align: center;
    margin: auto;
    width: 450px;
}

#create-form{
    display: grid;
    grid-column: auto 200px;
    column-gap: 10px;
    justify-content: center;
    padding: 10px;
}


#topBtn {
    display: none; /* Hidden by default */
    right: 30px;
  }

#modeBtn {
    left: 30px;
}
  
#topBtn:hover, #modeBtn:hover {
    background-color: #979797; /* Add a dark-grey background on hover */
}

#topBtn, #modeBtn{
    position: fixed; 
    bottom: 20px;  
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #A239CA; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
}

.form-label {
    margin: 10px;
}

.form-control {
    margin-bottom: 20px;
    height: 30px;
    width: 300px;
    font-family: Roboto;
}

.lorem p {
    color:rgb(231, 221, 253);
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: 300;
}

.btn {
    margin: 20px;
    padding: 10px;
    background-color: rgb(162, 57, 202);
    color:rgb(231, 221, 253);
    border-radius: 10px; 
    font-size: 15px; 
}

.btn2 {
    padding: 10px;
    background-color: rgb(162, 57, 202);
    color:rgb(231, 221, 253);
    border-radius: 10px; 
    font-size: 15px; 
    margin-bottom: 50px;
}

.btn:hover{
    background-color: rgb(181, 105, 211);
}

#title {
    height: 50px;
}

#tags {
    height: 100px;
}

#content {
    height: 300px;
}

.align {
    margin-left: 15%;
    margin-right: 15%;
}

.post {
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 5px;
}

.post h3 {
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 700;
}

.post h4 {
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #979797;
}

.post h6 {
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 400;
    color: #A239CA;
}

.post p {
    font-size: 17px;
    font-weight: 300;
    margin-top: 7px;
    transform: scaleX(0);
    transform-origin: left;
    animation-delay: 0.8s;
}

#archive {
    display: none;
}

#reveal {
    align-items: left;
    margin-left: 0px;
}

.align p {
    padding-left: 5px;
}

.error {
    color: red;
    margin-bottom: 50px;
}

.sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    align-items: center;
    margin: 0px;
}

.sticky + .content {
    padding-top: 100px;
}

.post h3, h4, h6, p {
    opacity: 0;
    animation: fade-in-right 0.6s ease forwards;
}

.post h4, h6 {
    animation-delay: 0.4s;
}

.ref {
    margin-bottom: 25px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

@keyframes fade-in-right{
    from {
        opacity: 0;
        transform: translateX(-15px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes grow-left {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@media (max-width: 800px) {
    body {
        margin: auto;
    }

    header {
        border-radius: 0;
        max-width: 700px;
    }
}