/* We can add fonts and stuff up here using @import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Authors
*  Eliza Gurney
*  Maeve Kelly
   Ben Waghorn */

/* COLOUR PALETTE
*  #0E0B16
*  #A239CA
*  #4717F6
   #E7DFDD
   #979797 */
body {
    background-color: #0E0B16;
    color: rgb(231, 221, 253);
}

.light-mode {
    background-color: rgb(231, 221, 253);
    color: #0E0B16;
}

header {
    display: block;
    margin: auto;
    width: 40%;
    text-align: center;    
}

h1 {
    font-family: Roboto;
    text-decoration: underline;
}

h2 {
    color: rgb(231, 221, 253);
    font-family: Roboto;
    background-color: rgb(162, 57, 202);
    border-radius: 10px;
    text-decoration: none;
    margin-left: auto;
    padding-left: 5px;
}

nav {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-family: Roboto;
    margin-bottom: 10px;
    background-color: rgb(162, 57, 202);
    border-radius: 10px;
    font-weight: 700;
    color: rgb(231, 221, 253);
    text-align: center;
    margin: auto;
    width: 350px;
}

a {
    text-decoration: none;
    margin: 5px;
    color: rgb(231, 221, 253);
    font-family: Roboto;
}


p {
    font-family: Roboto;
}

form {
    margin: auto;
    text-align: center;
    width: 250px;
    font-family: Roboto;
    margin-top: 20px;
}

li {
    font-family: Roboto;
}

footer {
    display: block;
    padding: 10px;
    margin-top: 50px;
    text-decoration: none;
    font-family: Roboto;
    margin-bottom: 10px;
    background-color: rgb(162, 57, 202);
    border-radius: 10px;
    font-weight: 700;
    color: rgb(231, 221, 253);
    text-align: center;
    margin: auto;
    width: 450px;
}

#create-form {
    display: grid;
    grid-column: auto 200px;
    column-gap: 10px;
    justify-content: center;
    padding: 10px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #A239CA; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    font-family: Roboto;
  }
  
  #myBtn:hover {
    background-color: #979797; /* Add a dark-grey background on hover */
  }

  #modeBtn {
    position: fixed; 
    bottom: 20px; 
    left: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #A239CA; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
    font-family: Roboto;
  }

  #modeBtn:hover {
    background-color: #979797; /* Add a dark-grey background on hover */
  }

.form-label {
    margin: 10px;
}

#title {
    height: 50px;
}

#tags {
    height: 100px;
}

#content {
    height: 200px;
}

.form-control {
    margin-bottom: 20px;
    height: 30px;
    width: 300px;
    font-family: Roboto;
}

.lorem p {
    font-family: Roboto;
    color:rgb(231, 221, 253);
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: 300;
}

.btn {
    margin: 20px;
    padding: 10px;
    background-color: rgb(162, 57, 202);
    color:rgb(231, 221, 253);
}

.btn:hover{
    background-color: rgb(181, 105, 211);
}

.align {
    margin-left: 15%;
    margin-right: 15%;
}

.post {
    font-family: Roboto;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 5px;
}

.post h3 {
    text-align: left;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 700;
}

.post h6 {
    text-align: left;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 400;
    color: #A239CA;
}

.post p {
    margin-bottom: 50px;
    font-size: 17px;
    font-weight: 300;
    margin-top: 7px;
}

.post h4 {
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #979797;
}

.align p {
    padding-left: 5px;
}

.error {
    color: red;
    margin-bottom: 50px;
}